---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Astro Minimal Blog">
	<h1>Welcome to my minimal blog.</h1>
	<p>This page is now wrapped in my brand new layout!</p>
</BaseLayout>
